<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
</body>
</html>
 <!-- The about me section with an anchor tage and a short sentence about myself-->
 <div class="about">
    <h2 id="about"></h2>
    <h1>About Me!</h1>
    <p><img src="img/apple.jpg" height="120" width="120">Hi! My name is Abishan Jeyanathan. I am a second year student in the Networking & IT Security program. My hobbies are gym, basketball and video games.</p>
</div>