<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abishan Jeyanathan 100790172</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<!-- Title -->
<header>
    <div id="wrapper">
        <div id="banner">
            <h1>Welcome To My Website!</h1>
            <div id="left-column">  
            
        </div>
    </div>
    <!-- Navagation bar with the diffrent sections on my page-->
    <nav class="nav">
        <div>
            <img src="img/portrait.jpg" height="60" width="70">

            <ul class="options">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <button> </button>
        </div>
    </nav>
</header>

<body>
<!-- Started ejs Templating-->
    <%- body %>
    <footer>
        <div class="clear"></div> 
            <div id="footer"> </div>
                <a href="https://github.com/AbishanJeyanathan/WebScriptProgramming"><img src="img/git.png" height="40" width="40" alt="git hub logo"></a>
                <a href="https://www.linkedin.com/in/abishanjeyanathan2002/"><img src="img/linkedin.png" height="40" width="40" alt="linkedin logo"></a>
                <h3>&copy; 2023 by Abishan Jeyanathan</h3> 
        </footer>
    </footer>  
                

</body>  

</html>