<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
</body>
</html>

<!-- The portfolio section with an anchor tage and my git hub links to see all my current and future projects-->
<div class="projects">
    <h2 id="projects"></h2>
    <h1>Projects</h1>
    <p>Welcome to the portfolio section if you want to see a list of my projects please click "Visit My Git Hub" below</p>
        <p><a href="https://github.com/AbishanJeyanathan/WebScriptProgramming.git">Vist My Git Hub!</a></p>
        <p><a href="https://www.linkedin.com/in/abishanjeyanathan2002/">My linkedin!</a></p>
</div>
